.layout-middle {
    height: 50vh;
    margin-top:15vh;
}

.glyphicon {
    color: #999;
    padding-right: 5px;
}

.error {
    color: #F00;
    font-size: 20px;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

table {
    font-size: 12px;
}

#example-advanced .jash-bg-warning {
    background-color: #fcf8e3
}

#example-advanced .jash-bg-success {
    background-color: #dff0d8
}

#example-advanced .jash-bg-primary {
    background-color: #17a2b8;
    color: #fff;
}

#example-advanced .jash-bg-secondary {
    background-color: #f8f9fa;
}

#example-advanced .jash-bg-danger {
    background-color: #f2dede
}

#example-advanced .selected {
    background-color: #3875d7;
    color: #fff;
}
